.ship {
    position: absolute;
    top: 45%;
    left: 45%;
    background-color: transparent;
    
    .half-ship {
        height: 0px;
        width: 0px;
        border-bottom: 20px solid @shipLightColour;
        border-right: 90px solid transparent;
        
        &.inverted {
            transform: rotate(180deg) scaleX(-1);
            -moz-transform: rotate(180deg) scaleX(-1);
            -webkit-transform: rotate(180deg) scaleX(-1);
            -o-transform: rotate(180deg) scaleX(-1);
            -ms-transform: rotate(180deg) scaleX(-1);
            border-bottom-color: @shipDarkColour;
        }
    }
    
    .exhaust {
        display: inline-block;
        position: absolute;
        height: 0px;
        border-top-width: 2px;
        border-top-style: dotted; 
        border-image: linear-gradient(yellow, red);        
        -moz-border-image: -moz-linear-gradient(left, yellow, red);
        -webkit-border-image: -webkit-linear-gradient(left, yellow, red);
        -o-border-image: -o-linear-gradient(left, yellow, red);
        -ms-border-image: -ms-linear-gradient(left, yellow, red);
        width: 50px;
        left: -55px;
        
        &.top {
            top: 10px;
        }        
        &.bottom {
            bottom: 10px;            
        }
    }
}